<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.laesperanzacollege">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActividadesActivity" />
        <activity android:name=".TestActivity"/>
        <activity android:name=".ListarQuizzesActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AgregarRespuestaActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".RespuestaActivity" />
        <activity
            android:name=".AgregarPreguntaActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AgregarPreguntaTheme" />
        <activity
            android:name=".AgregarQuizActivity"
            android:label="@string/title_activity_agregar_quiz"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarUnidActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".DashActivity" />
        <activity android:name=".EstActivity" />
        <activity android:name=".CuriosidadesActivity" />
        <activity android:name=".FormulasActivity" />
        <activity
            android:name=".UnidadesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".QuizzesActivity" />
        <activity
            android:name=".AgregarEstuActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    </application>

</manifest>